<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="diner-dash/public/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diner Dash App</title>
</head>

<body>
    <h1> Diner Dash Home Page</h1>
    <ul>
        <% for(let i=0; i < allCuisines.length; i++) { %>
            <li>
                <a href="/biz/<%=allCuisines[i].name%>"><%=allCuisines[i].name %>
                </a>
            </li>
            <% } %>
    </ul>
</body>

</html>