* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
body {
    background-color: rgb(209, 156, 87);
    width: 100vw;
    height: 80vh;
}

header, footer{
    background-color:rgb(158, 119, 68);
    padding: 1rem;
}


.wrapper {
    width: 1250px;
    margin: 0 auto;
    background-color: antiquewhite;
    padding: 5px;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(194, 180, 161);
    gap: 10px;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}

.card {
    position: relative;
    width: 500px;
    height: 200px;
    background-color: rgb(243, 226, 198);
    overflow: hidden;
    margin: 2rem;
}


.card ul {
    z-index: 99;
    position: absolute;
    left: 39px;
    top: 5px;
    list-style-type: none;
}

.card li {
      width: 2px;
      height: 2px;
      border-radius: 2px;
      margin: 6px 0;
}

/* i {
    opacity: 0;
    font-size: 18px;
    color: rgb(243, 234, 234);
    will-change: transform;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  } */
/* i:hover {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
} */
h3 {
    z-index: 99;
    position: absolute;
    bottom: 0;
    right: 130px;
    font-size: 60px;
    font-weight: 100;
    color: rgb(245, 252, 247);
  }

  .card:fa-arrow-right{
    z-index: 100;
    position: absolute;
    right: 75px;
    bottom: 25px;
    font-size: 40px;
    cursor: pointer;
  }
  p {
    z-index: 99;
    position: absolute;
    top: 20px;
    right: 70px;
    color: #333;
    opacity: 0.7;
    font-size: 12px;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .pic {
    z-index: 100;
    width: 320px;
    height: 200px;
    /* background-image: url($img-url); */
    background-size: 50% 60%;
    /* filter: grayscale(100%); */
  }

button {
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline:none;
    transition: all 0.3s ease;
    mix-blend-mode: hard-light;
    background-color: rgb(17, 78, 44);
}
i {
    font-size: 3rem;
}

button:hover {
    transform: scale(16.5);
}

p:hover {
    color: #fff;
  }
  
.pic:hover {
    filter: grayscale(0);
  }

header {
	display: grid;
	grid-template-columns: min-content 2fr 1.3fr;
}

.name {
    display: grid;
	grid: repeat(2, 60px) / repeat(3, 60px);
	font-weight: 700;
	font-size: 2.5rem;
	border: 6px solid black;
	border-width: 6px 6px 0;
	color: rgb(252, 252, 0);
	text-align: center;
	grid-column: span 3;
	background: repeating-linear-gradient(
		90deg,
		black 0px,
		black 5px,
		transparent 5px,
		transparent 10px
    )
}

/* @media(min-width: 550px) {
    grid-column: span 1;
    background: $black;
} */