<!DOCTYPE html>
<html lang="en">

<head>
    <link type="image/png" sizes="96x96" rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Nanum+Gothic&family=PT+Sans&family=Quicksand&family=Roboto+Mono:wght@100&family=Rubik:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fine-to-Dine</title>
</head>

<body>
    <main>
        <%- include('../partials/header.ejs') %>
            <%- body %>
                <%- include('../partials/footer.ejs') %>
    </main>
</body>

</html>